<table class="tg">
	<thead>
		<tr>
			<th style="width: 200px">Color Guide</th>
			<th>Dijit</th>
		</tr>
	</thead>
	<tbody>
		<!-- colors -->				
		
  <tr>
    <th class="tg-031e">Stuff</th>
    <th class="tg-031e">more stuff<br></th>
    <th class="tg-031e">less stuff<br></th>
    <th class="tg-031e">total stuff<br></th>
  </tr>
  <tr>
    <td class="tg-031e">1</td>
    <td class="tg-031e">2</td>
    <td class="tg-031e">3</td>
    <td class="tg-031e">4</td>
  </tr>
  <tr>
    <td class="tg-031e">5</td>
    <td class="tg-031e">6</td>
    <td class="tg-031e">7</td>
    <td class="tg-031e">8</td>
  </tr>
  <tr>
    <td class="tg-031e">9</td>
    <td class="tg-031e">10</td>
    <td class="tg-031e">11</td>
    <td class="tg-031e"></td>
  </tr>
	</tbody></table>

